# Total dynamical O-information

## Index

1. [Functions](#functions)
1. [Load and binarize data](#load_binar_data)
1. [Full length](#full_length)
    1. [Thomas' work](#thomas_work_full)
    1. [3 vs 1-2](#3_vs_1-2_full)
        1. [J-S divergence](#J-S_divergence_full)
    1. [3 vs 1-1-1](#3_vs_1-1-1_full)
1. [Half length](#half_length)
    1. [Thomas' work](#thomas_work_half)
    1. [3 vs 1-2](#3_vs_1-2_half)
        1. [J-S divergence](#J-S_divergence_half)
    1. [3 vs 1-1-1](#3_vs_1-1-1_half)
1. [Comparison full-half](#comparison)

<a name="functions"></a>
## Functions

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations
from tqdm.auto import tqdm
import matplotlib.patches as mpatches
import pickle
from scipy.special import kl_div
from scipy.stats import entropy

from ho_info_metrics.metrics import *
from ho_info_metrics.utils import *

In [2]:
def binarize_df(df, window_size):
    df = df.drop(columns=["Date"])
    for col in df.columns:
        if col != "Date":
            col_values = df[col].values
            binarized_values = []
            for i in range(len(col_values)):
                window_start = max(0, i - window_size + 1)
                window_mean = col_values[window_start : i + 1].mean()
                binarized_values.append(1 if col_values[i] > window_mean else 0)
            df[col] = binarized_values
    return df

In [3]:
def get_do_infos(target_sector, binarized_financial_ts):

    print(">>>", target_sector)
    target_stocks = list(
        stock_names[stock_names["Sector"] == target_sector]["Stock name"]
    )  # tutti gli stock name il cui settore sia il target
    print(len(target_stocks))
    other_stocks = list(
        stock_names[stock_names["Sector"] != target_sector]["Stock name"]
    )
    print(len(other_stocks))

    same_sector_triplets = list(combinations(target_stocks, 3))
    print(len(same_sector_triplets))
    different_sector_triplets = []
    while len(different_sector_triplets) != len(same_sector_triplets):
        triplet = []
        triplet.append(np.random.choice(target_stocks))
        triplet.append(np.random.choice(other_stocks))
        triplet.append(np.random.choice(other_stocks))
        different_sector_triplets.append(triplet)
    print(len(different_sector_triplets))

    doinfo_same_sector = []
    doinfo_different_sector = []
    bar_length = len(same_sector_triplets)
    with tqdm(total=bar_length) as pbar:
        pbar.set_description("Same sector triplets")
        for i in range(len(same_sector_triplets)):
            X1 = binarized_financial_ts[same_sector_triplets[i][0]].values
            X2 = binarized_financial_ts[same_sector_triplets[i][1]].values
            X3 = binarized_financial_ts[same_sector_triplets[i][2]].values
            X = np.vstack((X1, X2, X3))
            doinfo_same_sector.append(
                o_information_lagged_all(X, estimator="cat_ent")
            )  # calcola la total dynamical o_information della tripletta
            pbar.update(1)

    bar_length = len(different_sector_triplets)
    with tqdm(total=bar_length) as pbar:
        for i in range(len(different_sector_triplets)):
            X1 = binarized_financial_ts[different_sector_triplets[i][0]].values
            X2 = binarized_financial_ts[different_sector_triplets[i][1]].values
            X3 = binarized_financial_ts[different_sector_triplets[i][2]].values
            X = np.vstack((X1, X2, X3))
            doinfo_different_sector.append(
                o_information_lagged_all(X, estimator="cat_ent")
            )
            pbar.update(1)

    return (
        doinfo_same_sector,
        doinfo_different_sector,
    )  # ogni termine ritorna un array con la total dynamical o_information per ogni tripletta

In [4]:
def get_do_infos_same(target_sector, binarized_financial_ts):
    """Get the total dynamical o_information for the triplets of the target sector"""

    print(">>>", target_sector)

    target_stocks = list(
        stock_names[stock_names["Sector"] == target_sector]["Stock name"]
    )  # tutti gli stock name il cui settore sia il target
    print("Length target_stocks:", len(target_stocks))

    # Having removed the Technology sector, each sector can now offer 35 triplets
    same_sector_triplets = list(combinations(target_stocks, 3))[:35]
    print("Length triplets same sector:", len(same_sector_triplets))

    doinfo_one_sector = []
    bar_length = len(same_sector_triplets)
    with tqdm(total=bar_length) as pbar:
        pbar.set_description("Same sector")
        for i in range(len(same_sector_triplets)):
            X1 = binarized_financial_ts[same_sector_triplets[i][0]].values
            X2 = binarized_financial_ts[same_sector_triplets[i][1]].values
            X3 = binarized_financial_ts[same_sector_triplets[i][2]].values
            X = np.vstack((X1, X2, X3))
            doinfo_one_sector.append(
                o_information_lagged_all(X, estimator="cat_ent")
            )  # calcola la total dynamical o_information della tripletta
            pbar.update(1)

    return doinfo_one_sector

In [5]:
def get_do_infos_two_different(target_sector, another_sector, binarized_financial_ts):
    """Get the total dynamical o_information for the triplets
    composed of one node in the target_sector and two in the another_sector"""

    print(">>>", target_sector, "-", another_sector)

    target_stocks = list(
        stock_names[stock_names["Sector"] == target_sector]["Stock name"]
    )
    another_stocks = list(
        stock_names[stock_names["Sector"] == another_sector]["Stock name"]
    )
    print("Length another_stocks:", len(another_stocks))

    # Having removed the Technology sector, each sector can now offer 35 triplets
    another_sector_triplets = []
    while len(another_sector_triplets) != 35:
        triplet = []
        triplet.append(np.random.choice(target_stocks))
        triplet.append(np.random.choice(another_stocks))
        triplet.append(np.random.choice(another_stocks))
        another_sector_triplets.append(triplet)
    print("Length triplets two sectors:", len(another_sector_triplets))

    doinfo_two_sectors = []
    bar_length = len(another_sector_triplets)
    with tqdm(total=bar_length) as pbar:
        pbar.set_description("Two sectors")
        for i in range(len(another_sector_triplets)):
            X1 = binarized_financial_ts[another_sector_triplets[i][0]].values
            X2 = binarized_financial_ts[another_sector_triplets[i][1]].values
            X3 = binarized_financial_ts[another_sector_triplets[i][2]].values
            X = np.vstack((X1, X2, X3))
            doinfo_two_sectors.append(o_information_lagged_all(X, estimator="cat_ent"))
            pbar.update(1)

    return doinfo_two_sectors

In [6]:
def get_do_infos_three_different(
    target_sector, sector1, sector2, binarized_financial_ts
):
    """Get the total dynamical o_information for the triplets
    composed of three nodes in three different sectors"""

    print(">>>", target_sector, "-", sector1, "-", sector2)

    target_stocks = list(
        stock_names[stock_names["Sector"] == target_sector]["Stock name"]
    )
    stocks1 = list(stock_names[stock_names["Sector"] == sector1]["Stock name"])
    print("Length sector1:", len(stocks1))
    stocks2 = list(stock_names[stock_names["Sector"] == sector2]["Stock name"])
    print("Length sector2:", len(stocks2))

    # Having removed the Technology sector, each sector can now offer 35 triplets
    three_sectors_triplets = []
    while len(three_sectors_triplets) != 35:
        triplet = []
        triplet.append(np.random.choice(target_stocks))
        triplet.append(np.random.choice(stocks1))
        triplet.append(np.random.choice(stocks2))
        three_sectors_triplets.append(triplet)
    print("Length triplets three sectors:", len(three_sectors_triplets))

    doinfo_three_sectors = []
    bar_length = len(three_sectors_triplets)
    with tqdm(total=bar_length) as pbar:
        pbar.set_description("Three sectors")
        for i in range(len(three_sectors_triplets)):
            X1 = binarized_financial_ts[three_sectors_triplets[i][0]].values
            X2 = binarized_financial_ts[three_sectors_triplets[i][1]].values
            X3 = binarized_financial_ts[three_sectors_triplets[i][2]].values
            X = np.vstack((X1, X2, X3))
            doinfo_three_sectors.append(
                o_information_lagged_all(X, estimator="cat_ent")
            )
            pbar.update(1)

    return doinfo_three_sectors

In [7]:
def max_bins(array1, array2, array3):
    """Return the maximum number of bins so that there is at least one value inside each interval"""
    
    bins = 1
    cond = True

    while cond:
        bins += 1
        array1_hist, _ = np.histogram(array1, bins=bins)
        array2_hist, _ = np.histogram(array2, bins=bins)
        array3_hist, _ = np.histogram(array3, bins=bins)

        if np.isin(0, array1_hist):
            cond = False

        elif np.isin(0, array2_hist):
            cond = False

        elif np.isin(0, array3_hist):
            cond = False
            
    return bins - 1

In [8]:
def JS_div(array1, array2):
    """Compute the J-S divergence of two array"""
    
    array1_sort = np.sort(array1)
    array2_sort = np.sort(array2)

    array1_normalized = array1_sort / np.sum(array1_sort)
    array2_normalized = array2_sort / np.sum(array2_sort)

    average = (array1_normalized + array2_normalized) / 2
    average_sort = np.sort(average)
    
    bins = max_bins(array1_normalized, array2_normalized, average_sort)
    
    array1_hist, _ = np.histogram(array1_normalized, bins=bins)
    array2_hist, _ = np.histogram(array2_normalized, bins=bins)
    average_hist, _ = np.histogram(average_sort, bins=bins)
    
    kl_array1 = entropy(array1_hist, average_hist)
    kl_array2 = entropy(array2_hist, average_hist)
 
    return np.sum(kl_array1 + kl_array2) / 2

<a name="load_binar_data"></a>
## Load and binarize data

In [9]:
financial_ts = pd.read_csv(
    "data/Economic_data/NYSE_119stocks_2000Jan_2021June_withdates.csv"
)
stock_names = pd.read_csv(
    "data/Economic_data/list_stocknames.txt",
    sep=", ",
    names=["Index", "Stock name", "Sector"],
)

C:\Users\david\AppData\Local\Temp\ipykernel_11628\1982450507.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  stock_names = pd.read_csv(

In [10]:
financial_ts

,Date,A,AA,AB,ABC,ABT,ADC,AEO,AEP,AES,...,DHI,DIN,DIS,DLX,DNP,DOV,DRE,DRI,DRQ,DSM
0,1999-12-31 00:00:00,55.302216,99.724503,29.937500,3.796875,16.300713,14.250000,10.000000,32.125000,37.375000,...,3.805411,16.687500,28.855125,21.936281,8.3125,30.416479,19.500000,10.801292,15.187500,7.3750
1,2000-01-03 00:00:00,51.502148,97.246407,29.750000,3.890625,15.711531,13.937500,9.777778,31.437500,36.250000,...,3.650439,16.125000,29.471687,21.436594,8.3125,29.410976,19.000000,10.317096,15.125000,7.4375
2,2000-01-04 00:00:00,47.567955,97.696968,29.625000,3.625000,15.262630,13.562500,8.916667,31.812500,34.812500,...,3.512687,16.062500,31.198063,21.036844,8.5000,28.866327,18.875000,10.242604,15.000000,7.5000
3,2000-01-05 00:00:00,44.617310,103.329002,29.750000,3.906250,15.234574,13.312500,9.590278,33.000000,35.187500,...,3.564344,16.250000,32.492844,20.836969,8.8750,28.992016,18.937500,10.615063,14.843750,7.5625
4,2000-01-06 00:00:00,42.918453,101.977310,30.250000,4.203125,15.767643,13.562500,8.909722,33.187500,35.468750,...,3.374935,17.562500,31.198063,20.787001,9.0000,29.117704,19.375000,10.503325,14.500000,7.5625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,2021-06-11 00:00:00,143.529999,37.380001,45.900002,119.839996,109.910004,71.559998,34.320000,84.760002,25.879999,...,88.730003,92.830002,177.380005,47.619999,10.5400,151.759995,49.299999,139.110001,37.750000,8.1400
5396,2021-06-14 00:00:00,144.389999,36.950001,45.509998,118.730003,110.480003,72.169998,34.759998,85.129997,25.740000,...,87.980003,91.500000,178.179993,46.820000,10.6100,150.339996,49.500000,137.500000,37.880001,8.1600
5397,2021-06-15 00:00:00,144.619995,36.290001,45.349998,119.029999,110.410004,70.489998,34.209999,85.239998,26.059999,...,88.660004,90.940002,175.860001,46.779999,10.6100,151.369995,48.900002,136.710007,39.090000,8.1900
5398,2021-06-16 00:00:00,143.589996,35.360001,45.340000,118.360001,110.059998,70.320000,34.740002,84.400002,25.730000,...,87.330002,91.570000,174.660004,46.180000,10.5500,149.990005,48.119999,136.460007,39.720001,8.1500
5399,2021-06-17 00:00:00,146.919998,33.580002,44.650002,118.110001,111.629997,70.660004,34.099998,84.389999,26.070000,...,88.870003,88.639999,174.649994,43.759998,10.5700,145.759995,48.810001,131.910004,37.330002,8.2400

In [11]:
stock_names

     Index Stock name             Sector
0        0          A        Industrials
1        1         AA    Basic Materials
2        2         AB         Financials
3        3        ABC  Consumer Services
4        4        ABT        Health Care
..     ...        ...                ...
114    114        DOV        Industrials
115    115        DRE         Financials
116    116        DRI  Consumer Services
117    117        DRQ          Oil & Gas
118    118        DSM         Financials

[119 rows x 3 columns]

In [12]:
tw = 7  # time window, originalmente era 2
binarized_financial_ts = binarize_df(financial_ts, tw)

In [13]:
binarized_financial_ts

,A,AA,AB,ABC,ABT,ADC,AEO,AEP,AES,AFG,...,DHI,DIN,DIS,DLX,DNP,DOV,DRE,DRI,DRQ,DSM
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
3,0,1,0,1,0,0,1,1,0,0,...,0,0,1,0,1,0,0,1,0,1
4,0,1,1,1,1,0,0,1,0,0,...,0,1,1,0,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,1,0,1,1,1,0,1,0,1,0,...,0,0,1,1,1,1,1,1,1,0
5396,1,0,0,1,1,0,1,1,1,0,...,0,0,1,0,1,0,1,0,1,0
5397,1,0,0,1,1,0,1,1,1,1,...,0,0,0,0,1,1,0,0,1,1
5398,1,0,0,0,1,0,1,0,1,1,...,0,0,0,0,1,0,0,0,1,0
5399,1,0,0,0,1,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [14]:
sectors = list(stock_names["Sector"].unique())
sectors

['Industrials',
 'Basic Materials',
 'Financials',
 'Consumer Services',
 'Health Care',
 'Utilities',
 'Oil & Gas',
 'Consumer Goods',
 'Technology']

<a name="full_length"></a>
## Full length

We consider the full length of the time series.

<a name="thomas_work_full"></a>
### Thomas' work

Each sector contains the maximun number of triplets, so the number of triplets is not constant.

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATA

for i in range(len(sectors)):
    doinfo_same_sector, doinfo_different_sector = get_do_infos(
        sectors[i], binarized_financial_ts
    )

    np.save(
        f"./results/economic_results/full/do_info/doinfo_same_sector_{sectors[i]}_tw_{tw}.npy",
        doinfo_same_sector,
    )

    np.save(
        f"./results/economic_results/full/do_info/doinfo_different_sector_{sectors[i]}_tw_{tw}.npy",
        doinfo_different_sector,
    )

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE VIOLIN PLOT

fig, axs = plt.subplots(3, 3, figsize=(40, 40))
for i in range(len(sectors)):
    row = i // 3
    col = i % 3
    doinfo_same_sector = np.load(
        f"./results/economic_results/full/do_info/doinfo_same_sector_{sectors[i]}_tw_{tw}.npy"
    )
    doinfo_different_sector = np.load(
        f"./results/economic_results/full/do_info/doinfo_different_sector_{sectors[i]}_tw_{tw}.npy"
    )
    parts = axs[row, col].violinplot(doinfo_same_sector, showextrema=False)
    for pc in parts["bodies"]:
        pc.set_facecolor("tab:blue")
        pc.set_edgecolor("black")
        pc.set_alpha(0.5)
    parts = axs[row, col].violinplot(doinfo_different_sector, showextrema=False)
    for pc in parts["bodies"]:
        pc.set_facecolor("tab:orange")
        pc.set_edgecolor("black")
        pc.set_alpha(0.5)
    axs[row, col].set_title(sectors[i], size=35)
    axs[row, col].set_ylabel(r"$d\Omega_3^{tot.}$", size=37)
    axs[row, col].tick_params(axis="both", labelsize=18)
    axs[row, col].legend(
        handles=[
            mpatches.Patch(color="tab:blue", label="Same sector", alpha=0.4),
            mpatches.Patch(color="tab:orange", label="Different sector", alpha=0.4),
        ],
        fontsize=30,
    )


plt.savefig(
    f"./results/economic_results/full/images/doinfo_random_sectors_tw_{tw}.pdf",
    dpi=600,
    bbox_inches="tight",
)

<a name="3_vs_1-2_full"></a>
### 3 vs 1-2

In previous work, a triplet from the same sector was compared with a triplet in which one node is from the target sector and the other two are randomly selected from other sectors. Now I would like to compare the triplet from the same sector with a more carefully chosen triplet (1 from the target sector and the other two from tho different chosen sectors).
  
To ensure that the number of triplets is always the same I take 35, which is the maximum number that all sectors can offer.

In [15]:
target_sector = "Technology"
list(stock_names[stock_names["Sector"] == target_sector]["Stock name"])

['CACI', 'CIEN', 'DBD', 'DDD']

In [16]:
# I am deleting the data for the Techonolgy sector because there are only a few
binarized_financial_ts = binarized_financial_ts.drop(
    columns=["CACI", "CIEN", "DBD", "DDD"]
)

In [17]:
# Usa il metodo .isin() per creare una maschera booleana
maschera = stock_names["Stock name"].isin(["CACI", "CIEN", "DBD", "DDD"])

# Usa la maschera per selezionare solo le righe che non soddisfano la condizione
stock_names = stock_names[~maschera]

In [18]:
sectors = sectors[:-1]
sectors

['Industrials',
 'Basic Materials',
 'Financials',
 'Consumer Services',
 'Health Care',
 'Utilities',
 'Oil & Gas',
 'Consumer Goods']

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATA

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]
    for i, sector in enumerate(other_sectors):

        if i == 0:
            doinfo_one_sector = get_do_infos_same(target, binarized_financial_ts)
            np.save(
                f"./results/economic_results/full/do_info/doinfo_one_sector_{target}_tw_{tw}.npy",
                doinfo_one_sector,
            )

        doinfo_two_sectors = get_do_infos_two_different(
            target, sector, binarized_financial_ts
        )
        np.save(
            f"./results/economic_results/full/do_info/doinfo_two_sectors_{target}_{sector}_tw_{tw}.npy",
            doinfo_two_sectors,
        )

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE VIOLIN PLOTS

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]
    fig, axs = plt.subplots(3, 3, figsize=(40, 40))
    for i, sector in enumerate(other_sectors):
        row = i // 3
        col = i % 3
        doinfo_one_sector = np.load(
            f"./results/economic_results/full/do_info/doinfo_one_sector_{target}_tw_{tw}.npy"
        )
        doinfo_two_sectors = np.load(
            f"./results/economic_results/full/do_info/doinfo_two_sectors_{target}_{sector}_tw_{tw}.npy"
        )
        parts = axs[row, col].violinplot(doinfo_one_sector, showextrema=False)
        for pc in parts["bodies"]:
            pc.set_facecolor("tab:blue")
            pc.set_edgecolor("black")
            pc.set_alpha(0.5)
        parts = axs[row, col].violinplot(doinfo_two_sectors, showextrema=False)
        for pc in parts["bodies"]:
            pc.set_facecolor("tab:orange")
            pc.set_edgecolor("black")
            pc.set_alpha(0.5)
        title = str(target + " - " + sector)
        axs[row, col].set_title(title, size=35)
        axs[row, col].set_ylabel(r"$d\Omega_3^{tot.}$", size=40)
        axs[row, col].tick_params(axis="both", labelsize=18)
        label1 = str("3 in " + target)
        label2 = str("1 in " + target + ", 2 in " + sector)
        axs[row, col].legend(
            handles=[
                mpatches.Patch(color="tab:blue", label=label1, alpha=0.4),
                mpatches.Patch(color="tab:orange", label=label2, alpha=0.4),
            ],
            fontsize=25,
        )

    plt.savefig(
        f"./results/economic_results/full/images/two_sectors/doinfo_two_sectors_{target}_tw_{tw}.pdf",
        dpi=600,
        bbox_inches="tight",
    )

<a name="J-S_divergence_full"></a>
#### J-S divergence

Let's summarize the difference between the two distributions into a single number, so we can make a comparison.

In [ ]:
# The row index indicates the target sector, the column index the other sector
df_full = pd.DataFrame(
    columns=[
        "Industrials",
        "Basic Materials",
        "Financials",
        "Consumer Services",
        "Health Care",
        "Utilities",
        "Oil & Gas",
        "Consumer Goods",
    ]
)

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATAFRAME

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]

    for i, sector in enumerate(other_sectors):
        doinfo_one_sector = np.load(
            f"./results/economic_results/full/do_info/doinfo_one_sector_{target}_tw_{tw}.npy"
        )
        doinfo_two_sectors = np.load(
            f"./results/economic_results/full/do_info/doinfo_two_sectors_{target}_{sector}_tw_{tw}.npy"
        )

        df_full.at[target, sector] = JS_div(doinfo_one_sector, doinfo_two_sectors)

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATAFRAME

df_full.to_csv("./results/economic_results/full/result_full.csv", index=True)
df_full

<a name="3_vs_1-1-1_full"></a>
### 3 vs 1-1-1

The triplet from the same sector is compared with a triplet in which each element came from a different sector (one must be the target sector).
  
To ensure that the number of triplets is always the same I take 35, which is the maximum number that all sectors can offer.

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATA

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]

    for i, sector1 in enumerate(other_sectors):
        other_sectors2 = [sector for sector in other_sectors if sector != sector1]
        for j, sector2 in enumerate(other_sectors2):

            doinfo_three_sectors = get_do_infos_three_different(
                target, sector1, sector2, binarized_financial_ts
            )
            np.save(
                f"./results/economic_results/full/do_info/doinfo_three_sectors_{target}_{sector1}_{sector2}_tw_{tw}.npy",
                doinfo_three_sectors,
            )

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE VIOLIN PLOTS

for target1 in sectors:
    for target2 in [sector for sector in sectors if sector != target1]:
        other_sectors = [
            sector for sector in sectors if sector != target1 and sector != target2
        ]

        fig, axs = plt.subplots(3, 2, figsize=(40, 40))
        for i, sector in enumerate(other_sectors):
            row = i // 2
            col = i % 2
            doinfo_one_sector = np.load(
                f"./results/economic_results/full/do_info/doinfo_one_sector_{target1}_tw_{tw}.npy"
            )
            doinfo_three_sectors = np.load(
                f"./results/economic_results/full/do_info/doinfo_three_sectors_{target1}_{target2}_{sector}_tw_{tw}.npy"
            )
            parts = axs[row, col].violinplot(doinfo_one_sector, showextrema=False)
            for pc in parts["bodies"]:
                pc.set_facecolor("tab:blue")
                pc.set_edgecolor("black")
                pc.set_alpha(0.5)
            parts = axs[row, col].violinplot(doinfo_three_sectors, showextrema=False)
            for pc in parts["bodies"]:
                pc.set_facecolor("tab:orange")
                pc.set_edgecolor("black")
                pc.set_alpha(0.5)
            title = str(target1 + " - " + target2 + " - " + sector)
            axs[row, col].set_title(title, size=40)
            axs[row, col].set_ylabel(r"$d\Omega_3^{tot.}$", size=45)
            axs[row, col].tick_params(axis="both", labelsize=25)
            label1 = str("3 in " + target1)
            label2 = str("1 in " + target1 + ", 1 in " + target2 + ", 1 in " + sector)
            axs[row, col].legend(
                handles=[
                    mpatches.Patch(color="tab:blue", label=label1, alpha=0.5),
                    mpatches.Patch(color="tab:orange", label=label2, alpha=0.5),
                ],
                fontsize=25,
            )

        plt.savefig(
            f"./results/economic_results/full/images/three_sectors/doinfo_three_sectors_{target1}_{target2}_tw_{tw}.pdf",
            dpi=600,
            bbox_inches="tight",
        )

<a name="half_length"></a>
## Half length

I only take half time series, to see if the differences between the distributions decrease.

In [19]:
half_length = int(len(binarized_financial_ts) / 2)
binarized_financial_ts_half = binarized_financial_ts[:half_length]
binarized_financial_ts_half

,A,AA,AB,ABC,ABT,ADC,AEO,AEP,AES,AFG,...,DHI,DIN,DIS,DLX,DNP,DOV,DRE,DRI,DRQ,DSM
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
3,0,1,0,1,0,0,1,1,0,0,...,0,0,1,0,1,0,0,1,0,1
4,0,1,1,1,1,0,0,1,0,0,...,0,1,1,0,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,0,1,1
2696,1,0,1,1,1,1,0,0,1,1,...,1,0,1,1,0,1,1,0,1,1
2697,1,1,0,1,1,1,0,1,1,0,...,1,0,0,0,1,0,0,0,1,1
2698,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
2699,1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,0,1,0,0,1,1

<a name="thomas_work_half"></a>
### Thomas' work

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATA

for i in range(len(sectors)):
    doinfo_same_sector, doinfo_different_sector = get_do_infos(
        sectors[i], binarized_financial_ts_half
    )

    np.save(
        f"./results/economic_results/half/do_info/doinfo_same_sector_{sectors[i]}_tw_{tw}.npy",
        doinfo_same_sector,
    )

    np.save(
        f"./results/economic_results/half/do_info/doinfo_different_sector_{sectors[i]}_tw_{tw}.npy",
        doinfo_different_sector,
    )

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE VIOLIN PLOT

fig, axs = plt.subplots(3, 3, figsize=(40, 40))
for i in range(len(sectors)):
    row = i // 3
    col = i % 3
    doinfo_same_sector = np.load(
        f"./results/economic_results/half/do_info/doinfo_same_sector_{sectors[i]}_tw_{tw}.npy"
    )
    doinfo_different_sector = np.load(
        f"./results/economic_results/half/do_info/doinfo_different_sector_{sectors[i]}_tw_{tw}.npy"
    )
    parts = axs[row, col].violinplot(doinfo_same_sector, showextrema=False)
    for pc in parts["bodies"]:
        pc.set_facecolor("tab:blue")
        pc.set_edgecolor("black")
        pc.set_alpha(0.5)
    parts = axs[row, col].violinplot(doinfo_different_sector, showextrema=False)
    for pc in parts["bodies"]:
        pc.set_facecolor("tab:orange")
        pc.set_edgecolor("black")
        pc.set_alpha(0.5)
    axs[row, col].set_title(sectors[i], size=35)
    axs[row, col].set_ylabel(r"$d\Omega_3^{tot.}$", size=37)
    axs[row, col].tick_params(axis="both", labelsize=18)
    axs[row, col].legend(
        handles=[
            mpatches.Patch(color="tab:blue", label="Same sector", alpha=0.4),
            mpatches.Patch(color="tab:orange", label="Different sector", alpha=0.4),
        ],
        fontsize=30,
    )


plt.savefig(
    f"./results/economic_results/half/images/doinfo_random_sectors_tw_{tw}.pdf",
    dpi=600,
    bbox_inches="tight",
)

<a name="3_vs_1-2_half"></a>
### 3 vs 1-2

!!!! Run the initial part of the full 3 vs 1-2 first, so as to eliminate the stocks relating to technology

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATA

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]
    for i, sector in enumerate(other_sectors):

        if i == 0:
            doinfo_one_sector = get_do_infos_same(target, binarized_financial_ts_half)
            np.save(
                f"./results/economic_results/half/do_info/doinfo_one_sector_{target}_tw_{tw}.npy",
                doinfo_one_sector,
            )

        doinfo_two_sectors = get_do_infos_two_different(
            target, sector, binarized_financial_ts_half
        )
        np.save(
            f"./results/economic_results/half/do_info/doinfo_two_sectors_{target}_{sector}_tw_{tw}.npy",
            doinfo_two_sectors,
        )

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE VIOLIN PLOTS

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]
    fig, axs = plt.subplots(3, 3, figsize=(40, 40))
    for i, sector in enumerate(other_sectors):
        row = i // 3
        col = i % 3
        doinfo_one_sector = np.load(
            f"./results/economic_results/half/do_info/doinfo_one_sector_{target}_tw_{tw}.npy"
        )
        doinfo_two_sectors = np.load(
            f"./results/economic_results/half/do_info/doinfo_two_sectors_{target}_{sector}_tw_{tw}.npy"
        )
        parts = axs[row, col].violinplot(doinfo_one_sector, showextrema=False)
        for pc in parts["bodies"]:
            pc.set_facecolor("tab:blue")
            pc.set_edgecolor("black")
            pc.set_alpha(0.5)
        parts = axs[row, col].violinplot(doinfo_two_sectors, showextrema=False)
        for pc in parts["bodies"]:
            pc.set_facecolor("tab:orange")
            pc.set_edgecolor("black")
            pc.set_alpha(0.5)
        title = str(target + " - " + sector)
        axs[row, col].set_title(title, size=35)
        axs[row, col].set_ylabel(r"$d\Omega_3^{tot.}$", size=40)
        axs[row, col].tick_params(axis="both", labelsize=18)
        label1 = str("3 in " + target)
        label2 = str("1 in " + target + ", 2 in " + sector)
        axs[row, col].legend(
            handles=[
                mpatches.Patch(color="tab:blue", label=label1, alpha=0.4),
                mpatches.Patch(color="tab:orange", label=label2, alpha=0.4),
            ],
            fontsize=25,
        )

    plt.savefig(
        f"./results/economic_results/half/images/two_sectors/doinfo_two_sectors_{target}_tw_{tw}.pdf",
        dpi=600,
        bbox_inches="tight",
    )

<a name="J-S_divergence_half"></a>
#### J-S divergence

In [ ]:
# The row index indicates the target sector, the column index the other sector
df_half = pd.DataFrame(
    columns=[
        "Industrials",
        "Basic Materials",
        "Financials",
        "Consumer Services",
        "Health Care",
        "Utilities",
        "Oil & Gas",
        "Consumer Goods",
    ]
)

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATAFRAME

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]

    for i, sector in enumerate(other_sectors):
        doinfo_one_sector = np.load(
            f"./results/economic_results/half/do_info/doinfo_one_sector_{target}_tw_{tw}.npy"
        )
        doinfo_two_sectors = np.load(
            f"./results/economic_results/half/do_info/doinfo_two_sectors_{target}_{sector}_tw_{tw}.npy"
        )

        df_half.at[target, sector] = JS_div(doinfo_one_sector, doinfo_two_sectors)

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATAFRAME

df_half.to_csv("./results/economic_results/half/result_full.csv", index=True)
df_half

<a name="3_vs_1-1-1_half"></a>
### 3 vs 1-1-1

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE DATA

for target in sectors:
    other_sectors = [sector for sector in sectors if sector != target]

    for i, sector1 in enumerate(other_sectors):
        other_sectors2 = [sector for sector in other_sectors if sector != sector1]
        for j, sector2 in enumerate(other_sectors2):

            doinfo_three_sectors = get_do_infos_three_different(
                target, sector1, sector2, binarized_financial_ts_half
            )
            np.save(
                f"./results/economic_results/half/do_info/doinfo_three_sectors_{target}_{sector1}_{sector2}_tw_{tw}.npy",
                doinfo_three_sectors,
            )

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE VIOLIN PLOTS

for target1 in sectors:
    for target2 in [sector for sector in sectors if sector != target1]:
        other_sectors = [
            sector for sector in sectors if sector != target1 and sector != target2
        ]

        fig, axs = plt.subplots(3, 2, figsize=(40, 40))
        for i, sector in enumerate(other_sectors):
            row = i // 2
            col = i % 2
            doinfo_one_sector = np.load(
                f"./results/economic_results/half/do_info/doinfo_one_sector_{target1}_tw_{tw}.npy"
            )
            doinfo_three_sectors = np.load(
                f"./results/economic_results/half/do_info/doinfo_three_sectors_{target1}_{target2}_{sector}_tw_{tw}.npy"
            )
            parts = axs[row, col].violinplot(doinfo_one_sector, showextrema=False)
            for pc in parts["bodies"]:
                pc.set_facecolor("tab:blue")
                pc.set_edgecolor("black")
                pc.set_alpha(0.5)
            parts = axs[row, col].violinplot(doinfo_three_sectors, showextrema=False)
            for pc in parts["bodies"]:
                pc.set_facecolor("tab:orange")
                pc.set_edgecolor("black")
                pc.set_alpha(0.5)
            title = str(target1 + " - " + target2 + " - " + sector)
            axs[row, col].set_title(title, size=40)
            axs[row, col].set_ylabel(r"$d\Omega_3^{tot.}$", size=45)
            axs[row, col].tick_params(axis="both", labelsize=25)
            label1 = str("3 in " + target1)
            label2 = str("1 in " + target1 + ", 1 in " + target2 + ", 1 in " + sector)
            axs[row, col].legend(
                handles=[
                    mpatches.Patch(color="tab:blue", label=label1, alpha=0.5),
                    mpatches.Patch(color="tab:orange", label=label2, alpha=0.5),
                ],
                fontsize=25,
            )

        plt.savefig(
            f"./results/economic_results/half/images/three_sectors/doinfo_three_sectors_{target1}_{target2}_tw_{tw}.pdf",
            dpi=600,
            bbox_inches="tight",
        )

<a name="comparison"></a>
## Comparison full-half

In this section I compare the results obtained considering the entire length with those obtained considering only half of it. In each plot a target is considered; on the y-axis there is the JS-divergence (for full length) between the distributions in which the triplet is all in the target and in which one point is in the target and the other two in another sector. On the x axis there is the similar quantity but for half the length.

In [20]:
df_full = pd.read_csv("./results/economic_results/full/result_full.csv", index_col=0)
df_half = pd.read_csv("./results/economic_results/half/result_full.csv", index_col=0)

In [21]:
df_full

,Industrials,Basic Materials,Financials,Consumer Services,Health Care,Utilities,Oil & Gas,Consumer Goods
Industrials,NaN,0.122308,0.214089,0.052325,0.091460,0.102860,0.084615,0.219743
Basic Materials,0.138274,NaN,0.155638,0.044207,0.146545,0.053517,0.081695,0.184968
Financials,0.297841,0.134393,NaN,0.587818,0.111515,0.014164,0.274718,0.458693
Consumer Services,0.251773,0.058521,0.158145,NaN,0.095770,0.090858,0.057751,0.215983
Health Care,0.272321,0.122780,0.293127,0.034621,NaN,0.805321,0.067858,0.565578
Utilities,0.182089,0.106477,0.047107,0.242159,0.131293,NaN,0.140260,0.091074
Oil & Gas,0.016285,0.179795,0.207017,0.191269,0.205281,0.014110,NaN,0.212679
Consumer Goods,0.223213,0.318661,0.111528,0.435974,0.478561,0.519101,0.416441,NaN

In [22]:
df_half

,Industrials,Basic Materials,Financials,Consumer Services,Health Care,Utilities,Oil & Gas,Consumer Goods
Industrials,NaN,0.269968,0.116018,0.308068,0.371273,0.238282,0.070591,0.311161
Basic Materials,0.096748,NaN,0.144451,0.070495,0.250676,0.190151,0.094814,0.157143
Financials,0.056859,0.097640,NaN,0.037793,0.082591,0.283933,0.089403,0.415097
Consumer Services,0.197348,0.349489,0.143480,NaN,0.139099,0.079083,0.095869,0.136427
Health Care,0.050651,0.101401,0.076487,0.216035,NaN,0.079241,0.025457,0.109977
Utilities,0.133270,0.138424,0.166786,0.327488,0.071730,NaN,0.128444,0.167022
Oil & Gas,0.049689,0.060586,0.137608,0.120026,0.202821,0.087824,NaN,0.129750
Consumer Goods,0.110282,0.096026,0.186354,0.178672,0.660940,0.397908,0.033815,NaN

In [23]:
name_rows = df_full.index.tolist()
name_columns = df_full.columns.tolist()

In [ ]:
# DO NOT RUN IF YOU ALREADY HAVE THE SCATTER PLOTS

for row in name_rows:
    columns = [column for column in name_columns if column != row]

    x = [df_half.loc[row, column] for column in columns]
    y = [df_full.loc[row, column] for column in columns]
    
    x_values = np.linspace(min(x), max(x), 100)
    plt.plot(x_values, x_values, color="red", linewidth=1.5)

    plt.scatter(x, y)
    plt.xlabel("JS-div half length")
    plt.ylabel("JS-div full length")
    plt.title(f"Plot for target = {row}")
    plt.savefig(
        f"./results/economic_results/comparison/images/JS_div_two_sectors_target_{row}.pdf",
        dpi=600,
        bbox_inches="tight",
    )
    plt.show()

In [24]:
above_bisector = []
below_bisector = []

for row in name_rows:
    above_count = 0
    columns = [column for column in name_columns if column != row]

    x = [df_half.loc[row, column] for column in columns]
    y = [df_full.loc[row, column] for column in columns]
    
    for i in range(len(x)):
        if x[i] < y[i]:
            above_count += 1
            
    above_bisector.append(above_count)
    below_bisector.append(len(x) - above_count)
    

df_comparison = pd.DataFrame(
    [above_bisector, below_bisector], index=["+", "-"], columns=name_columns
)

In [25]:
df_comparison

,Industrials,Basic Materials,Financials,Consumer Services,Health Care,Utilities,Oil & Gas,Consumer Goods
+,2,3,6,4,6,3,5,5
-,5,4,1,3,1,4,2,2